<form class="form-DeleteOrRestore" method="POST">
  <div class="mt-4">
    <h3>Thùng rác</h3>
  </div>
  <div class="row d-flex flex-nowrap">
    <div class="mb-3 form-check ms-3 col-1">
      <input type="checkbox" class="form-check-input" id="checkAll" />
      <label class="form-check-label" for="checkAll">Chọn tất cả</label>
    </div>
    <div class="col-3">
      <select class="form-select" aria-label="Default select example" name="action" required>
        <option selected value="">Open this select menu</option>
        <option value="deleteHard">Xóa vĩnh viễn</option>
        <option value="restore">Restore</option>
      </select>
    </div>
    <div class="col-3">
      <button type="submit" class="btn btn-danger buttonDelete disabled">Choose action</button>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">check</th>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">description</th>
        <th scope="col">deletedAt</th>
      </tr>
    </thead>
    <tbody>
      {{#each course}}
      <tr>
        <th>
          <div>
            <input type="checkbox" class="form-check-input checkItems" value="{{this._id}}" name="CourseID" />
          </div>
        </th>
        <th scope="row">{{this._id}}</th>
        <td>{{this.name}}</td>
        <td>{{this.description}}</td>
        <td>{{this.deletedAt}}</td>
        <td>
          <a href="/me/bin/mycourses" class="btn btn-link btn-restore" data-id="{{this._id}}">Restore</a>
          <a href="" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#delete-course-modal"
            data-id="{{this._id}}">Xóa vĩnh viễn</a>
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan="5">Thùng rác trống<a href="/me/create/mycourses">Khóa học
            của bạn</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</form>

{{! confirm dlt course }}

<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">hủy</button>
        <button id="btn-delete-course" type="button" class="btn btn-primary">XÓA
        </button>

      </div>
    </div>
  </div>
</div>
<form method="POST" id="form-delete"></form>
<form method="POST" id="form-restore"></form>
<script>
  const deleteCourses = document.getElementById("delete-course-modal");
  var btnDeletecourse = document.getElementById("btn-delete-course");
  var deleteForm = document.getElementById("form-delete");
  const restoreBtn = $('.btn-restore');
  const checkAll = $("#checkAll");
  const checkItems = $(".checkItems");
  const buttonDelete = $(".buttonDelete")
  const dropDown = $('select')
  const formDeleteOrRestore = $('.form-DeleteOrRestore')
  restoreBtn.click("click", function (e) {
    e.preventDefault();
    var courseID = $(this).attr('data-id');
    restoreForm.action = "/courses/" + courseID + "/restore?_method=PATCH"; restoreForm.submit()
  });
  var restoreForm = document.getElementById("form-restore");
  let courseID;
  deleteCourses.addEventListener("show.bs.modal", function (event) {
    const button = event.relatedTarget;
    const id = button.getAttribute("data-id");
    courseID = id
  });
  btnDeletecourse.addEventListener("click", function () {
    deleteForm.action = "/courses/" + courseID + "/hard?_method=DELETE";
    deleteForm.submit();
  });
  checkAll.change(function () {
    const IsChecked = $(this).prop("checked");
    checkItems.prop("checked", IsChecked);
    RenderButtonDelete()
    //buttonDelete.prop('disabled', !IsChecked)=> enable button khi nằm ngoài class
  });
  checkItems.change(function () {
    var dataLength = checkItems.length === $(".checkItems:checked").length;
    checkAll.prop("checked", dataLength);
    RenderButtonDelete()
    // $(".checkItems:checked").length === 0 ? buttonDelete.prop('disabled', true) : buttonDelete.prop('disabled', false)=>enable button khi nằm ngoài class
  })
  function RenderButtonDelete() {
    const checkedCount = $(".checkItems:checked").length
    if (checkedCount > 0) {
      buttonDelete.removeClass("disabled")
    } else {
      buttonDelete.addClass("disabled")
    }
  }
  dropDown.change(function (event) {
    console.log(typeof $(this).val())
    if ($(this).val() === 'deleteHard') {
      buttonDelete.text('Xóa vĩnh viễn')
      formDeleteOrRestore.attr('action', "/courses/handle-form-action-hard-deleteOrRestore?_method=DELETE")
    } else if ($(this).val() === 'restore') {
      buttonDelete.text('restore')
      formDeleteOrRestore.attr('action', "/courses/handle-form-action-hard-deleteOrRestore?_method=PATCH")
    }
  })
</script>